nav {
    background-color: #007bff;
}

.navbar-toggler-icon {
    background-color:  #fff;
}

.navbar-nav {
    margin: 0;
}

.nav-link {
    color: black;
}


.form-label {
    font-weight: bold;
}






