#footer {
    width: 100%;
    padding: 1px 1px;
    font-size: 16px;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25%  50%;
    /* PATRON */
    --s: 200px;
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    background:
        repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(.5*var(--s)) calc(.5*var(--s)*0.577),
        repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
}

/* Redes Sociales */
.redessociales {
    grid-column: 1;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    
    /* border: solid 2px white; */
}

.redesicon {
    color: rgba(0, 0, 0, 0.608);
    margin-top: 40px;
    font-size: 40px;
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}

/* Formulario de contacto */
.form {
    grid-column: 2;
    
    padding: 5px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 10px;
    /* border: solid 2px rgb(255, 255, 255); */
    
    
}

.form .btn {
    background-color: rgb(109, 180, 182);
    width: 90px;
    height: 40px;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
}

.contacto .formulario-caja {
    width: 250px;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 2px solid cadetblue;
    background: transparent;
    box-shadow: 5px 2px 10px black;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.268);
}

.contacto .formulario-txt {
    color: #ffffff;
    width: 250px;
    max-width: 300px;
    height: 100px;
    max-height: 120px;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 2px solid cadetblue;
    background-color: rgba(0, 0, 0, 0.268);
    box-shadow: 5px 2px 10px black;

}

.contactar {
    margin-top: 25px;
}

/* Mapa  */
.map-container {
    /* border: solid 2px white; */
    grid-column: 3;
  
    grid-row: 1;
    padding: 5px;
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-bottom: 10px;
    
    
}

.mapContainer {
    height: 300px;
    width: 300px;
    border-radius: 6px;
    box-shadow: 5px 2px 10px black;
    margin: 10%;
    margin-bottom: 2%;
}


/* DERECHOS */

.derechos {
    background-color: rgb(22, 22, 22);
    color: rgb(255, 140, 0);
    height: auto;
    display: flex;
    justify-content: center;
}

.derechos .derechosTexto {
    margin: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

/* Consultas de medios para 500px */
@media (max-width: 500px) {


    #footer {
        
        width: auto;
        height: auto;
        margin: 26px;
        
    }

    #footer .redessociales {
        grid-row: 1;
        
        margin-left: 25px;
    }

    #footer .redessociales .titulosFooter {
        text-align: center;
    }

    .form {
        grid-row: 2;
        
        
    }
    #footer .form .titulosFooter{
        text-align: center;
        
    }

    .form .contacto {
        width: 150px;
        margin-left: 15px;
    }

    .form .contacto .formulario-caja {
        width: 200px;
    }

    .form .contacto .formulario-txt {
        width: 200px;
    }

    .map-container {
        grid-row: 3;
    }

    .map-container .titulosFooter{
        text-align: center;
        
    }

    .map-container .mapa {
        align-items: center;
        margin-left: -250px;
    }

    .derechos {
        width: auto;
    }
}



/* Consultas de medios para 800px */
@media (min-width: 501) and (max-width: 800px) {

    #footer {

        height: auto;
        grid-template-rows: repeat (3, 1fr);
        ;
    }

    #footer .redessociales.redesicon {

        margin: 0;
    }




    .formulario-caja,
    .formulario-txt {
        grid-row: 2;
        width: 90%;
    }

    .map-container,
    .mapa {
        grid-row: 3;
        height: 300px;
    }
}