body {
    font-size: 15px;
    background-color: #7e7f80;
}

.formulario {

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 90%;
    height: auto;
    margin: 5%;
        /* PATRON */
        --s: 200px;
        --c1: #1d1d1d;
        --c2: #4e4f51;
        --c3: #3c3c3c;
        background:
            repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(.5*var(--s)) calc(.5*var(--s)*0.577),
            repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
        background-size: var(--s) calc(var(--s)*0.577);
        box-shadow: 0 0 20px rgb(0, 0, 0);
}

.cform {
    margin: 3%;
    padding: 3%;
    width: 50%;
    height: auto;
    background: transparent;
    border-radius: 5px;
    border: solid 2px black;
    box-shadow: 0 0 15px rgb(255, 140, 0);
    color: white;

}

.cform h3 {
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
    color: rgb(255, 255, 255);
}

.cform .bartex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 3%;
    color: rgb(255, 140, 0);
}
.cform .bartex .bartexInput{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.268);
    width: 250px;
    max-width: 300px;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 2px solid cadetblue;
    box-shadow: 5px 2px 10px black;

}

.cform .bartex .iconinpu {
    margin-left: 10px;
}

.bartex .bartexOpcions {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.268);
    width: 250px;
    max-width: 300px;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 2px solid cadetblue;
    box-shadow: 5px 2px 10px black;

}

.bartexOpcions option:not(:checked) {
    color: rgb(0, 0, 0);
}

.bartexOpcions option:first-child {
    color: #f00;
}

.bartexOpcions option:first-child:checked {
    color: #f00;
}

.disabled-option {
    color: rgb(0, 0, 0);
}


/* PARTES DE INICIAR SESION Y REGISTRARME */

.recordarme {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.recordarme .check {
    margin-right: 3%;
}

.recordarme .recordarmeP {
font-size: 20px;
font-family: 'Courier New', Courier, monospace;
}
.registrameInicioSesion{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    align-content: space-around;

}
.registrameInicioSesion .linkRecordarme{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.registrameInicioSesion .linkRecordarme:hover{
    color: cadetblue;
    font-size: 18px;
}
.omc{
    font-size: 15px;
    text-decoration: none;
    color: white;
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
}
.omc:hover{
    color: cadetblue;
    font-size: 18px;
}





.cform .btn {
    background-color: rgb(109, 180, 182);
    width: 90px;
    height: 40px;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 25px;
}
.cform .btn:hover{
    color: white;
}

.cform p {
    text-align: center;
    font-size: 16px;
}


/* Foto de EN CONSTRUCCION */

.jgeneral .EnConstruccionImg {
    box-shadow: 3px 3px 5px;
    width: 80%;
}



/* Consultas de medios para 500px */
@media (max-width: 500px) {
    .form {
        flex-direction: column;
    }

    .cform {
        width: 90%;
    }

    .bartex input,
    .bartexOpcions {
        width: 90%;
        max-width: unset;
    }

    .recordarme {
        width: 100%;
        margin-left: 0;
        justify-content: flex-start;
    }

    .cform .btn {
        width: 80px;
        margin-left: 30%;
    }

}

/* Consultas de medios para 800px */
@media (max-width: 800px) {
    .form {
        flex-direction: column;
    }

    .cform {
        width: 80%;
    }

    .bartex input,
    .bartexOpcions {
        width: 90%;
        max-width: unset;
    }

    .recordarme {
        width: 100%;
        margin-left: 0;
        justify-content: flex-start;
    }

    .cform .btn {
        width: 90px;
        margin-left: 40%;
    }
}