.mp {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: auto;
    max-height: 100px;
    margin-top: 2%;
    filter: drop-shadow(0 0 5px rgb(0, 0, 0)); 

}

.jgeneral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    /* background-color: rgb(218, 218, 218); */
    border-radius: 5px;
    margin: 5%;
    margin-top: 3%;
    margin-bottom: 3;
    padding: 3%;
    /* PATRON */
    --s: 200px;
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    background:
        repeating-conic-gradient(from 30deg, #0000 0 120deg, var(--c3) 0 180deg) calc(.5*var(--s)) calc(.5*var(--s)*0.577),
        repeating-conic-gradient(from 30deg, var(--c1) 0 60deg, var(--c2) 0 120deg, var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.jd {
    width: 580px;
    height: 570px;
    display: block;
    margin: 30px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background:transparent;
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    border: solid 2px black;
    box-shadow: 0 0 15px rgb(255, 140, 0);
}

.jd h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    text-shadow: 0px 0px 15px rgba(0, 247, 255, 0.604);
    background-color: rgba(0, 0, 0, 0.515);
    border: solid 0.5px  white;
}

.jd iframe {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    object-position: center;
    border-radius: 6px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.jd p {
    overflow-y: scroll;
    text-align: center;
    margin-top: 3%;
    max-width: 100%;
    max-height: 100%;
    padding-top: 10px;
    height: 140px;
    margin-bottom: 3px;
    color: white;
}

.desta {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 3%;
    border: solid 2px black;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.268);
    box-shadow: 0 0 20px rgb(255, 140, 0);
}

.desta .destaH3 {
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 0px 0px 15px rgba(0, 247, 255, 0.604);
}

@media screen and (min-width: 501px) {
    .jd {
        width: 45%;
        display: inline-block;
    }
}

@media screen and (min-width: 801px) {
    .jd {
        width: 30%;
    }
}