.mp {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: auto;
    max-height: 100px;
    /* margin: 20px auto 0 auto; */
}

.jgeneral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    margin: 5%;
    padding: 3%;
}

.jd {
    width: 580px;
    height: 570px;
    display: block;
    margin: 30px 10px 10px 10px;
    /* margin-top: 10%; */
    padding: 10px 10px 10px 10px;
    background-color: rgb(174, 174, 174);
    border-radius: 5px;
    box-shadow: 3px 3px 5px;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.jd h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jd iframe {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    object-position: center;
}

/* .jd h4 {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;
margin: auto;
margin-top: 330px;
    color: rgb(255, 140, 0);
} */
.jd p {
    overflow-y: scroll;
    text-align: center;
    margin-top: 3%;
    max-width: 100%;
    max-height: 100%;
    padding-top: 10px;
    height: 140px;
    margin-bottom: 3px;
}

.desta {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
    background-color: cadetblue;
    padding: 50px;
}

/* .line{
margin: 30%;

} */
@media screen and (min-width: 501px) {
    .jd {
        width: 45%;
        display: inline-block;
    }
}

@media screen and (min-width: 801px) {
    .jd {
        width: 30%;
    }
}